.header {
  display: flex;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
  justify-content: space-between;
  position: relative;
}

.header__title {
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 183px 0 28px 80px;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-style: italic;
  line-height: 72px;
  font-family: "Noto Serif";
}

.header__description {
  font-family: "Noto Serif";
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 80px;
  flex-grow: 1;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  margin: 40px 80px;
  justify-content: space-between;
  font-weight: 500;
  color: #838383;
  z-index: 1;
  align-items: flex-end;
  padding: 0;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}
